@import 'colors/mocha.css';

* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 12px;
    font-weight: bold;
    min-height: 0;
    padding: 0;
    margin: 0;
    color: @text;
}

window#waybar {
    background: transparent;
}

tooltip {
    background: @base;
    border: 1px solid @surface0;
    border-radius: 6px;
}

tooltip label {
    color: @text;
    padding: 6px;
}

#workspaces {
    background-color: transparent;
    padding: 3px 3px;
    margin: 0 0 0 12px;
    color: @text;
}

#workspaces button {
    padding: 0px 3px;
    margin: 0px 0px;
    border: 1px solid @blue;
    border-radius: 0px;
    color: transparent;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background-color: @blue;
    color: @base;
    min-width: 25px;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    background-color: @surface1;
    color: @base;
    min-width: 25px;
    background-size: 400% 400%;
}

#workspaces button.urgent {
    background-color: @red;
    color: @base;
    min-width: 25px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#tray{
    padding: 0 12px;
    margin: 0;
}

#memory {
    padding: 0 12px;
    margin: 0;
}

#pulseaudio {
    padding: 0 12px;
    margin: 0;
}

#network {
    padding: 0 12px;
    margin: 0;
}

#clock {
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#custom-notification {
    font-family: "NotoSansMono Nerd Font";
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
}

menu {
    background: #1e1e2e;
    color: #cdd6f4;
    padding: 6px;
    border: 1px solid #45475a;
}

menuitem {
    padding: 6px 12px;
    transition: background-color 0.2s ease;
}

menuitem:hover {
    background-color: #313244;
}
